# Node modules
node_modules/
**/node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build directories
dist/
build/

# Temporary files
tmp/
temp/

# Environment variables
.env

# Frontend specific build files and dependencies
frontend/build/
frontend/node_modules/

# IDE and Editor specific files
.vscode/
.idea/

# Operating system specific files
.DS_Store
Thumbs.db

# Package-lock files (optional, depending on your use case)
# package-lock.json
# yarn.lock
